In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("movies.csv")
df = df.dropna()
df = df[df.astype(str)["genres"] != '[]']
df = df[df.astype(str)["keywords"] != '[]']
df = df[df.astype(str)["production_companies"] != '[]']
df = df[df.astype(str)["production_countries"] != '[]']
df = df[df.astype(str)["spoken_languages"] != '[]']
df.head(11)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965

In [25]:
df.shape

(1407, 20)

In [6]:
import ast
gen = []
for w in df["genres"]:
    w = ast.literal_eval(w)
    a = w[0]["name"]
    gen.append(a)
    #print(w[0]["name"])

In [7]:
d = df["keywords"][0]
d

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [8]:
type(d)

str

In [9]:
import ast
dd = ast.literal_eval(d)
dd

[{'id': 1463, 'name': 'culture clash'},
 {'id': 2964, 'name': 'future'},
 {'id': 3386, 'name': 'space war'},
 {'id': 3388, 'name': 'space colony'},
 {'id': 3679, 'name': 'society'},
 {'id': 3801, 'name': 'space travel'},
 {'id': 9685, 'name': 'futuristic'},
 {'id': 9840, 'name': 'romance'},
 {'id': 9882, 'name': 'space'},
 {'id': 9951, 'name': 'alien'},
 {'id': 10148, 'name': 'tribe'},
 {'id': 10158, 'name': 'alien planet'},
 {'id': 10987, 'name': 'cgi'},
 {'id': 11399, 'name': 'marine'},
 {'id': 13065, 'name': 'soldier'},
 {'id': 14643, 'name': 'battle'},
 {'id': 14720, 'name': 'love affair'},
 {'id': 165431, 'name': 'anti war'},
 {'id': 193554, 'name': 'power relations'},
 {'id': 206690, 'name': 'mind and soul'},
 {'id': 209714, 'name': '3d'}]

In [10]:
cleanmovie = pd.DataFrame()
cleanmovie["genres"] = gen
cleanmovie["genres"]

0                Action
1             Adventure
2                Action
3                Action
4                Action
5               Fantasy
6             Animation
7                Action
8             Adventure
9                Action
10            Adventure
11            Adventure
12               Action
13               Action
14      Science Fiction
15            Adventure
16               Action
17               Action
18               Action
19               Action
20            Adventure
21            Adventure
22                Drama
23            Adventure
24               Action
25               Action
26               Action
27               Action
28               Family
29      Science Fiction
             ...
1377              Drama
1378              Music
1379             Comedy
1380             Comedy
1381              Drama
1382           Thriller
1383              Drama
1384              Drama
1385           Thriller
1386              Drama
1387            Foreign
1388              Drama
1389             Comedy
1390    Science Fiction
1391              Drama
1392              Drama
1393             Action
1394              Drama
1395        Documentary
1396              Drama
1397              Drama
1398              Drama
1399             Horror
1400            Mystery
1401            Romance
1402           Thriller
1403        Documentary
1404             Comedy
1405             Horror
1406    Science Fiction
Name: genres, Length: 1407, dtype: object

In [11]:
import ast
com = []
for w in df["production_companies"]:
    w = ast.literal_eval(w)
    a = w[0]["name"]
    com.append(a)
    #print(w[0]["name"])
len(com)

1407

In [12]:
cleanmovie["companies"] = com

In [13]:
import ast
cou = []
for w in df["production_countries"]:
    w = ast.literal_eval(w)
    a = w[0]["name"]
    cou.append(a)
    #print(w[0]["name"])
len(cou)

1407

In [14]:
cleanmovie["countries"] = cou

In [15]:
import ast
lan = []
for w in df["spoken_languages"]:
    w = ast.literal_eval(w)
    a = w[0]["name"]
    lan.append(a)
    #print(w[0]["name"])
len(lan)
cleanmovie["languages"] = lan

In [16]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [17]:
cleanmovie["budget"] = df["budget"]
cleanmovie["keywords"] = df["keywords"]
cleanmovie['title'] = df['title']
cleanmovie['overview'] = df['overview']
cleanmovie['popularity'] = df['popularity']
cleanmovie['release_date'] = df['release_date']
cleanmovie['revenue'] = df['revenue']
cleanmovie['runtime'] = df['runtime']
cleanmovie['release_date'] = df['release_date']
cleanmovie['tagline'] = df['tagline']
cleanmovie['vote_average'] = df['vote_average']

In [18]:
cleanmovie.columns

Index(['genres', 'companies', 'countries', 'languages', 'budget', 'keywords',
       'title', 'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'tagline', 'vote_average'],
      dtype='object')

In [19]:
cleanmovie.keywords[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [20]:
import ast
key = []
for w in df["keywords"]:
    w = ast.literal_eval(w)
    names = []
    for i in range(len(w)):
        a = w[i]["name"]
        names.append(a)
    key.append(names)
        #print(w[0]["name"])
len(key)

1407

In [21]:
key[0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [22]:
cleanmovie["keywords"] = key
cleanmovie["keywords"][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [23]:
cleanmovie.columns

Index(['genres', 'companies', 'countries', 'languages', 'budget', 'keywords',
       'title', 'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'tagline', 'vote_average'],
      dtype='object')

In [24]:
cleanmovie.to_csv("cleanmoviefinal.csv", index = False)

In [26]:
df.to_csv("test.csv", index=False)

In [27]:
df["genres"] = gen
df["companies"] = com
df["countries"] = cou
df["languages"] = lan
df["keywords"] = key
df.to_csv("test1.csv", index=False)

In [28]:
import pandas as pd
dfmovie = pd.read_csv("test1.csv")
dfmovie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'companies', 'countries', 'languages'],
      dtype='object')

In [31]:
dfmovie = dfmovie.drop(["homepage", "id", "original_title", 'production_companies', 
              'production_countries', 'spoken_languages', 'status',
             'vote_count'], axis =1)

In [32]:
dfmovie.to_csv("finalmovie.csv", index=False)

In [1]:
import pandas as pd
m = pd.read_csv("finalmovie.csv")
m.head()

,budget,genres,keywords,original_language,overview,popularity,release_date,revenue,runtime,tagline,title,vote_average,companies,countries,languages
0,237000000,Action,"['culture clash', 'future', 'space war', 'spac...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Enter the World of Pandora.,Avatar,7.2,Ingenious Film Partners,United States of America,English
1,300000000,Adventure,"['ocean', 'drug abuse', 'exotic island', 'east...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,Walt Disney Pictures,United States of America,English
2,245000000,Action,"['spy', 'based on novel', 'secret agent', 'seq...",en,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,A Plan No One Escapes,Spectre,6.3,Columbia Pictures,United Kingdom,Français
3,250000000,Action,"['dc comics', 'crime fighter', 'terrorist', 's...",en,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,The Legend Ends,The Dark Knight Rises,7.6,Legendary Pictures,United States of America,English
4,260000000,Action,"['based on novel', 'mars', 'medallion', 'space...",en,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,"Lost in our world, found in another.",John Carter,6.1,Walt Disney Pictures,United States of America,English

In [2]:
mnew = pd.DataFrame()

In [4]:
mk = m["keywords"][0]
mk

"['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d']"

In [5]:
import ast
mk = ast.literal_eval(mk)
mk[0]

'culture clash'

In [10]:
fw = []
for k in m["keywords"]:
    k = ast.literal_eval(k)
    fw.append(k[0])
fw

['culture clash',
 'ocean',
 'spy',
 'dc comics',
 'based on novel',
 'dual identity',
 'hostage',
 'marvel comic',
 'witch',
 'dc comics',
 'killing',
 'witch',
 'texas',
 'saving the world',
 'new york',
 'sea',
 'time travel',
 'corruption',
 'loss of father',
 'robin hood',
 'elves',
 'england',
 'shipwreck',
 'civil war',
 'monster',
 'spy',
 'dual identity',
 'terrorist',
 'based on novel',
 'egypt',
 'sequel',
 'circus',
 'obsession',
 'artificial intelligence',
 'car race',
 'dc comics',
 'hostage',
 'saving the world',
 'car race',
 'dystopia',
 '1970s',
 'based on fairy tale',
 'persia',
 'dystopia',
 'moon',
 'saving the world',
 'tyrannosaurus rex',
 'scotland',
 'romantic comedy',
 'civilization',
 'holiday',
 'jupiter',
 'africa',
 'mutant',
 'dc comics',
 'alien',
 'middle east',
 'library',
 'dc comics',
 'father son relationship',
 'deja vu',
 'terrorist',
 'dream',
 'malibu',
 'queen',
 'fairy tale',
 'leader',
 'washington d.c.',
 'ogre',
 'inventor',
 'brother brother relationship',
 'support group',
 'alternate history',
 'flying',
 'marvel comic',
 'saving the world',
 'loss of lover',
 'riddle',
 'diary',
 'cia',
 'revolution',
 'witch',
 "new year's eve",
 'based on novel',
 'ambush',
 'video game',
 'saving the world',
 'destroy',
 'prophecy',
 'magic',
 'flying',
 'saving the world',
 'london england',
 'paris',
 'himalaya',
 'africa',
 'museum',
 'corruption',
 'queen',
 'marvel comic',
 'future',
 'new mexico',
 'hamster',
 'dyr',
 'underworld',
 'witch',
 'london england',
 'father son relationship',
 'factory worker',
 'martial arts',
 'fire',
 'berlin',
 'boy',
 'london england',
 'laser',
 'female friendship',
 'saving the world',
 'denmark',
 'china',
 'fight',
 'dream',
 'based on novel',
 'moses',
 'loss of lover',
 'father son relationship',
 'dc comics',
 'new york',
 'british',
 'naturalist',
 'penguin',
 'london england',
 'father son relationship',
 'underdog',
 'sheriff',
 'paris',
 'china',
 'marvel comic',
 'competition',
 'friendship',
 'assassination',
 'bible',
 'riddle',
 'saving the world',
 'witch',
 'gold',
 'exotic island',
 'resistance',
 'paris',
 'bird',
 'brazil',
 'detective inspector',
 'hades',
 'assassin',
 'holiday',
 'saving the world',
 'terror',
 'ocean',
 'mephisto',
 'assassin',
 'android',
 'cyborg',
 'car race',
 'love triangle',
 'spy',
 'spacecraft',
 'showdown',
 'senate',
 'monster',
 'japan',
 'prophecy',
 'stone age',
 'witch',
 'martial arts',
 'space mission',
 'brother brother relationship',
 'teleportation',
 'california',
 'london england',
 'sequel',
 'based on novel',
 'bomb',
 'based on graphic novel',
 'moon',
 'farm',
 'based on novel',
 'father son relationship',
 'based on cartoon',
 'based on novel',
 'elves',
 'crusade',
 'based on novel',
 'based on novel',
 'clone',
 'italy',
 'cinema',
 'underdog',
 'hostage',
 'nurse',
 'narration',
 'suicide',
 'bounty hunter',
 'airplane',
 'based on novel',
 "children's book",
 'paris',
 'christianity',
 'corruption',
 'clone',
 'owl',
 'cia',
 'undercover',
 'suicide',
 'weapon of mass destruction',
 'based on comic strip',
 'fire',
 'sea',
 'blue footed booby',
 'cinderella',
 'rape',
 'father son relationship',
 'elves',
 'elves',
 'magic',
 'intelligence',
 'bomb',
 'secret identity',
 'secret identity',
 'museum',
 'weather',
 'ice age',
 'undercover',
 'film making',
 'rape',
 'detective',
 'betrayal',
 'sea',
 'chipmunk',
 'new york',
 'video game',
 'based on novel',
 'new york',
 'poison',
 'london england',
 'brazil',
 'transporter',
 'horse race',
 'ocean',
 'berlin',
 'prison',
 'number in title',
 'witch',
 'poison',
 'cia',
 'skyscraper',
 'holiday',
 'graduation',
 'casino',
 'hunter',
 'based on novel',
 'hunter',
 'japan',
 'car race',
 'holiday',
 'life and death',
 'terrorist',
 'whipping',
 'usa',
 'torture',
 'adolescence',
 'christianity',
 'tattoo',
 'paris',
 'hallucination',
 'sun glasses',
 'paris',
 'sequel',
 'dancing',
 'based on novel',
 'beach',
 'sport',
 'picnic',
 'talking animal',
 'future',
 'california',
 'saving the world',
 'clone',
 'dinosaur',
 'memory',
 'new york',
 'ocean',
 'dying and death',
 'individual',
 'loss of parents',
 'mission',
 'duringcreditsstinger',
 'philosophy',
 'pet',
 'secret agent',
 'police state',
 'assassin',
 'mammoth',
 'races',
 'overweight',
 'new york',
 'himalaya',
 'washington d.c.',
 'music record',
 'assassin',
 'monster',
 'poison',
 'space marine',
 'assistant',
 'brothel',
 'ocean',
 'island',
 'helicopter',
 'comedian',
 'assassination',
 'north carolina',
 'father son relationship',
 'prison',
 'car race',
 'sports car',
 'ocean',
 'paris',
 'liberation',
 'saving the world',
 'chipmunk',
 'saving the world',
 'world war i',
 'world war ii',
 'duringcreditsstinger',
 'witch',
 'adultery',
 'vampire',
 'musical',
 'cold',
 'terrorist',
 'london england',
 'prison',
 'cia',
 'vampire',
 'adoptive father',
 'christianity',
 'wife husband relationship',
 'coast guard',
 'terror',
 'mouse',
 'london england',
 'human evolution',
 'religion and supernatural',
 'saving the world',
 'france',
 'romantic comedy',
 'highway',
 'world war ii',
 'nasa',
 'age difference',
 'kurdish',
 'life and death',
 'seduction',
 'love triangle',
 'fbi',
 'mutant',
 'car race',
 'support group',
 'soul',
 'martial arts',
 'detective',
 'mountains',
 'paris',
 'saving the world',
 'superhero',
 'exotic island',
 'baby',
 'submarine',
 'sport',
 'bounty hunter',
 "coup d'etat",
 'evisceration',
 'cia',
 'journalist',
 'southern usa',
 'midlife crisis',
 'fish',
 'based on novel',
 'paris',
 'cuba',
 'undercover',
 'fight',
 'venice',
 'island',
 'based on novel',
 'indonesia',
 'egypt',
 'based on novel',
 'pop star',
 'saving the world',
 'dream',
 'tree',
 'father son relationship',
 'black magic',
 'medium',
 'loyalty',
 'london england',
 'corruption',
 'father son relationship',
 'los angeles',
 'stadium',
 'corruption',
 'spy',
 'flying saucer',
 'women',
 'revenge',
 'newspaper',
 'washington d.c.',
 'vampire',
 'based on novel',
 'angel',
 'new york',
 'book',
 'secret identity',
 'based on novel',
 'fictional place',
 'anti hero',
 'sniper',
 'based on novel',
 'waitress',
 'american football',
 'job interview',
 'post-apocalyptic',
 'world war ii',
 'deadbeat dad',
 'bahamas',
 'monk',
 'bodybuilder',
 'pop',
 'ship',
 'date',
 'japan',
 'tempel',
 'prostitute',
 'england',
 'sport',
 'corruption',
 'musical',
 'katana',
 'vegetarian',
 'italy',
 'roommate',
 'new york',
 'corruption',
 'poker',
 'con man',
 'assassination',
 'bowling',
 'flower',
 'sheriff',
 'jealousy',
 'show business',
 'paris',
 'moon',
 'magic',
 'hotel',
 'friendship',
 '1970s',
 'biography',
 'high school',
 'spy',
 'daddys home',
 'witch',
 'bank manager',
 'zoo',
 'cataclysm',
 'soulmates',
 'underdog',
 'detective',
 'witch',
 'secret identity',
 'anti terror',
 'based on novel',
 'monster',
 'wife husband relationship',
 'father son relationship',
 'imaginary friend',
 'assassination',
 'winter',
 'duringcreditsstinger',
 'prison',
 'cold war',
 'slavery',
 'london england',
 'kidnapping',
 'cia',
 'dystopia',
 'stupidity',
 'bone',
 'great britain',
 'saving the world',
 'artificial intelligence',
 'robbery',
 'saloon',
 'revenge',
 'dwarves',
 'federation',
 'gunslinger',
 'undercover',
 'africa',
 'pennsylvania',
 'musical',
 'suicide',
 'london england',
 'winter',
 'clone',
 'widow',
 'bank',
 'ant',
 'riot',
 'submarine',
 'alien',
 'dancing',
 'poison',
 'assassin',
 'sex',
 'buddhist monk',
 'supermarket',
 'cia',
 'bounty hunter',
 'budapest',
 'london england',
 'martial arts',
 'roommate',
 'poison',
 'male friendship',
 'london england',
 'beach',
 'corruption',
 'winter',
 'bounty hunter',
 'assassin',
 'individual',
 'animation',
 'deception',
 'con artist',
 'fictitious marriage',
 'skateboarding',
 'artificial intelligence',
 'based on novel',
 'war',
 'london england',
 'hacker',
 'relationship',
 'railroad robber',
 'cooking',
 'venice',
 'intern',
 'police',
 'dystopia',
 'bomb',
 'poker',
 'high school',
 'car race',
 'aftercreditsstinger',
 'jealousy',
 'judge',
 'taxi',
 'competition',
 'spaceship',
 'london england',
 'chicago',
 'green',
 'amnesia',
 'predator',
 'san diego',
 'sheriff',
 'premonition',
 'prison',
 'based on novel',
 'work ethic',
 'gay',
 'river',
 'street gang',
 'shoe',
 'fox',
 'invisible man',
 'paris',
 'whale',
 'dystopia',
 'liar',
 'kidnapping',
 'civil war',
 'father son relationship',
 'mother',
 'shyness',
 'flaming arrow',
 'romantic comedy',
 'clown',
 'waitress',
 'car crash',
 'aids',
 'ice',
 'dystopia',
 'underground world',
 'based on novel',
 'underdog',
 'based on novel',
 'based on novel',
 'farewell',
 'new york',
 'new york',
 'dolphin',
 'soulmates',
 'mexico',
 'video game',
 'female nudity',
 'dolphin',
 'repayment',
 'vatican',
 'space marine',
 'underwear',
 'american football',
 'conspiracy of murder',
 'loss of father',
 'paris',
 'gambling',
 'hero',
 'horse race',
 'funeral',
 'alcohol',
 'wife husband relationship',
 'japanese',
 'new love',
 'undercover',
 'assassin',
 'bank',
 'kiss',
 'new york',
 'individual',
 'biography',
 'suicide',
 'nanny',
 'elves',
 'american football',
 'cia',
 'mayor',
 'new york',
 'bear',
 'music record',
 'royal family',
 'airplane',
 'philosophy',
 'broken neck',
 '1970s',
 'based on novel',
 'brain tumor',
 'corruption',
 'magic',
 'alien invasion',
 'chain',
 'broken trachea',
 'rebel',
 'hippie',
 'nun',
 'competition',
 'rape',
 'heist',
 'undercover',
 'bomb',
 'suicide',
 'dystopia',
 'berlin',
 'guerrilla',
 'male nudity',
 'venice',
 'ku klux klan',
 'submarine',
 'self-fulfilling prophecy',
 'slum',
 'transporter',
 'poem',
 'lovesickness',
 'double life',
 'suitcase',
 'suicide',
 'hawaii',
 'brother brother relationship',
 'pregnancy and birth',
 'bride',
 'paris',
 'competition',
 'italy',
 'duringcreditsstinger',
 'shyness',
 'gypsy',
 'san francisco',
 'musical',
 'professor',
 'sunrise',
 'cabin',
 'fight',
 'assassin',
 'classroom',
 'terror',
 'fraud',
 'owl',
 'cave',
 'sex',
 'evidence',
 'skyscraper',
 'male nudity',
 'rape',
 'dna',
 'megacity',
 'gambling',
 'sunrise',
 'sheriff',
 'witch',
 'loss of son',
 'suicide',
 'gambling',
 'technology',
 'killing',
 'martial arts',
 'underage soldier',
 'village',
 'supermarket',
 'business woman',
 'magic',
 'brother brother relationship',
 'riddle',
 'opera',
 'bank',
 'music festival',
 'refugee',
 'london england',
 'italy',
 'pizza delivery',
 'based on novel',
 'bachelor',
 'artificial intelligence',
 'climbing up a wall',
 'bolivia',
 'based on novel',
 'atomic bomb',
 'alcohol',
 'parents kids relationship',
 'sex',
 'anti terror',
 'london england',
 'shakespeare',
 'england',
 'wizard of oz',
 'child abuse',
 'fbi',
 'film producer',
 'security guard',
 'first time',
 'smoking',
 'angel',
 'miami',
 'london england',
 'lie',
 'christianity',
 'rape',
 'usa',
 'factory',
 'mississippi',
 'helicopter',
 'father son relationship',
 'brother sister relationship',
 'christmas',
 'alcohol',
 'prison',
 'head wound',
 'virgin',
 'baseball',
 'dystopia',
 'sex',
 'date',
 'gambling',
 'underdog',
 'hospital',
 'monster',
 'experiment',
 'biography',
 'shark attack',
 'president',
 'kung fu',
 'bank',
 'post traumatic stress  disorder',
 'southern usa',
 'post-apocalyptic',
 'vampire',
 'flat',
 'painting',
 'american football',
 'based on novel',
 'philadelphia',
 'sex doll',
 'pornography',
 'vietnam veteran',
 'wrestling',
 'pregnancy',
 'yacht',
 'washington d.c.',
 'rebel',
 'ohio',
 'darkness',
 'artificial intelligence',
 'dream',
 'mercenary',
 'corruption',
 'father son relationship',
 'fashion designer',
 'assassination',
 'suicide',
 'android',
 'istanbul',
 'surgeon',
 'american football',
 'budapest',
 'prison',
 'agriculture',
 'journalist',
 'transporter',
 'witness protection',
 'prison',
 'killing',
 'brother brother relationship',
 'dancing',
 'black people',
 'female nudity',
 'rebel',
 'spy',
 'puppet',
 'saving the world',
 'suicide',
 'sister sister relationship',
 'rock and roll',
 'hawaii',
 'england',
 'alcohol',
 'nightmare',
 'child abuse',
 'remake',
 'vampire',
 'paris',
 'gay',
 'holiday',
 'step father',
 'beach',
 'candy',
 'deja vu',
 'female nudity',
 'confidence',
 'wolf',
 'based on novel',
 'based on novel',
 'date',
 'confidence',
 'male nudity',
 'dancing',
 'human animal relationship',
 '1970s',
 'life and death',
 'usa',
 'fbi',
 'natural disaster',
 'based on novel',
 'usa president',
 'female nudity',
 'based on novel',
 'police',
 'vampire',
 'heist',
 'london england',
 'family relationships',
 'baby',
 'based on novel',
 'terrorist',
 'japanese',
 'based on novel',
 'california',
 'new jersey',
 'corruption',
 'biography',
 'rock and roll',
 'con man',
 'american football',
 'based on true story',
 'corruption',
 'detective',
 'falcon',
 "new year's eve",
 'classroom',
 'jealousy',
 'clock tower',
 'new jersey',
 'alcohol',
 'witch',
 'world war ii',
 'sex',
 'taxi',
 'becoming an adult',
 'alligator',
 'male nudity',
 'airplane',
 'holiday',
 'based on novel',
 'aunt',
 'female friendship',
 'prophecy',
 'competition',
 'hotel',
 'big family',
 'biography',
 'virgin',
 'based on novel',
 'duringcreditsstinger',
 'london england',
 'costume',
 'father son relationship',
 'sex',
 'becoming an adult',
 'wolf',
 'rwanda',
 'assassin',
 'musical',
 'california',
 'female nudity',
 'neo-nazi',
 'survivor',
 'based on novel',
 'ambush',
 'competition',
 'remake',
 'beach',
 'ice hockey',
 'africa',
 'suicide',
 'experiment',
 'photographer',
 'england',
 'film producer',
 'new england',
 'spain',
 'jealousy',
 'village',
 'new york',
 'sadness',
 'holiday',
 'male nudity',
 'great britain',
 'gay',
 'based on novel',
 'supernatural horror',
 'upper class',
 'london england',
 'babysitter',
 'fire',
 'corruption',
 'wife husband relationship',
 'nurse',
 'rape',
 'based on novel',
 'stuntman',
 'blind date',
 'sister sister relationship',
 'hitman',
 'suicide',
 'corruption',
 'cia',
 'sniper',
 'poker',
 'based on novel',
 'montana',
 'music',
 'white russian',
 'southern usa',
 'terror',
 'bruges belgium',
 '1970s',
 'career',
 'love at first sight',
 'woman director',
 'soul',
 'brother brother relationship',
 'secret',
 'paris',
 'sequel',
 'roman empire',
 'photographer',
 '3d',
 'artificial intelligence',
 'drug stealing',
 'shakespeare',
 'ship',
 'slum',
 'sheriff',
 'london england',
 ...]

In [11]:
mnew["keywords"] = fw
mnew.shape

(1407, 1)

In [12]:
mnew["genres"] = m["genres"]
mnew.shape

(1407, 2)

In [15]:
netw = mnew.groupby(['keywords', 'genres']).size().reset_index(name='counts')

In [17]:
netw.head()

  keywords       genres  counts
0    1970s       Action       1
1    1970s    Adventure       1
2    1970s       Comedy       1
3    1970s  Documentary       1
4    1970s        Drama       2

In [18]:
netw.to_csv("networkdata.csv",index = False)

In [19]:
net1 = netw[netw["counts"] > 1]
net1.shape

(206, 3)

In [21]:
net1.columns = ["SourceName", "TargetName", "Weight"]
net1.head()

           SourceName TargetName  Weight
4               1970s      Drama       2
8         adolescence  Adventure       2
25           airplane     Action       2
28            alcohol     Comedy       5
40  american football     Comedy       3

In [22]:
net1.to_csv("finalnetworkdata.csv",index = False)

In [25]:
import pandas as pd
from datetime import datetime
heat = pd.read_csv("finalmovie.csv")
heat = heat.sort_values(by = ['release_date'])
heat = heat[730:]
d = heat["release_date"]
heat["juest_date"] = pd.to_datetime(d)
heat["year"] = heat["juest_date"].map(lambda x: x.year)
heat["month"] = heat["juest_date"].map(lambda x: x.month)

In [26]:
heat.head(10)

,budget,genres,keywords,original_language,overview,popularity,release_date,revenue,runtime,tagline,title,vote_average,companies,countries,languages,juest_date,year,month
578,40000000,Comedy,"['work ethic', 'tv morning show', 'tv reporter']",en,A young and devoted morning television produce...,22.491388,2010-01-12,58785180,102.0,Breakfast TV just got interesting.,Morning Glory,6.1,Bad Robot,United States of America,English,2010-01-12,2010,1
1075,10000000,Horror,"['claustrophobia', 'trapped in an elevator']",en,A group of people trapped in a elevator realiz...,30.934688,2010-01-13,33583175,80.0,Bad Things Happen For A Reason,Devil,5.8,Universal Pictures,United States of America,Español,2010-01-13,2010,1
758,26000000,Horror,"['angel', 'diner', 'religion', 'apocalypse', '...",en,"When God loses faith in humankind, he sends hi...",30.981604,2010-01-21,67918658,100.0,"When the last angel falls, the fight for manki...",Legion,5.2,Bold Films,United States of America,English,2010-01-21,2010,1
1163,7000000,Drama,"['loss of mother', 'clerk', 'grocery', 'loss o...",en,A young boy has lost his mother and is losing ...,13.635828,2010-01-22,382946,106.0,Sometimes life gives you the finger and someti...,Hesher,6.7,DRO Entertainment,United States of America,English,2010-01-22,2010,1
460,52000000,Action,"['paris', 'cia', 'undercover', 'explosive', 'p...",en,James Reese has a good job as an ambassador's ...,27.916284,2010-02-05,52826594,92.0,Two agents. One city. No merci.,From Paris with Love,6.1,Apipoulaï,United Kingdom,Deutsch,2010-02-05,2010,2
456,52000000,Comedy,"['flower', 'married couple', 'florist', 'kiss'...",en,More than a dozen Angelenos navigate Valentine...,25.419290,2010-02-10,216485654,125.0,A Love Story. More or Less.,Valentine's Day,5.7,New Line Cinema,United States of America,English,2010-02-10,2010,2
107,150000000,Drama,"['father son relationship', 'victorian england...",en,"Lawrence Talbot, an American man on a visit to...",21.214571,2010-02-11,0,102.0,When the moon is full the legend comes to life,The Wolfman,5.5,Universal Pictures,United States of America,English,2010-02-11,2010,2
1120,12000000,Drama,['bollywood'],en,"Rizwan Khan, a Muslim from the Borivali sectio...",14.719886,2010-02-12,42345360,145.0,I am Muslim and i am not a terrorist,My Name Is Khan,7.7,Fox Searchlight Pictures,India,English,2010-02-12,2010,2
990,12000000,Adventure,"['roman empire', 'ancient rome', 'ancient worl...",en,"Britain, A.D. 117. Quintus Dias, the sole surv...",22.708647,2010-02-15,6814789,97.0,History is written in blood,Centurion,5.9,Pathé Pictures International,France,English,2010-02-15,2010,2
277,80000000,Drama,"['based on novel', 'island', 'hurricane', 'inv...",en,World War II soldier-turned-U.S. Marshal Teddy...,81.914696,2010-02-18,294804195,138.0,Someone is missing.,Shutter Island,7.8,Paramount Pictures,United States of America,English,2010-02-18,2010,2

In [27]:
heatn = pd.DataFrame()
heatn["year"] = heat["year"]
heatn["month"] = heat["month"]
heatn["revenue"] = heat["revenue"]
heatn.head()

      year  month   revenue
578   2010      1  58785180
1075  2010      1  33583175
758   2010      1  67918658
1163  2010      1    382946
460   2010      2  52826594

In [28]:
#heatn = heatn.groupby(["year", "month"]).agg({"revenue": "sum"})
#heatn.head(10)
heatn["revenue"] = heatn.groupby(['year','month']).revenue.transform('sum')
heatn = heatn.drop_duplicates(subset=['year', 'month'], keep = "last")
heatn.head(10)

      year  month     revenue
1163  2010      1   160669959
608   2010      2   668860396
614   2010      3  2074370553
1106  2010      4  1202429291
1085  2010      5  1525020145
110   2010      6  2837580736
267   2010      7  2305579111
1303  2010      8  1171778624
1239  2010      9  1571729949
1248  2010     10   740910484

In [29]:
heatn.shape

(81, 3)

In [30]:
heatn = heatn[0:72]
heatn.shape

(72, 3)

In [31]:
heatn.to_csv("heatdata.csv", index=False)

In [1]:
import pandas as pd
p = pd.read_csv("finalmovie.csv")
shiny = pd.DataFrame()
shiny["genres"] = p["genres"]
shiny["popularity"] = p["popularity"]
shiny["revenue"] = p["revenue"]
shiny["runtime"] = p["runtime"]
shiny["vote_average"] = p["vote_average"]
shiny["countries"] = p["countries"]
shiny.head(10)

,genres,popularity,revenue,runtime,vote_average,countries
0,Action,150.437577,2787965087,162.0,7.2,United States of America
1,Adventure,139.082615,961000000,169.0,6.9,United States of America
2,Action,107.376788,880674609,148.0,6.3,United Kingdom
3,Action,112.312950,1084939099,165.0,7.6,United States of America
4,Action,43.926995,284139100,132.0,6.1,United States of America
5,Fantasy,115.699814,890871626,139.0,5.9,United States of America
6,Animation,48.681969,591794936,100.0,7.4,United States of America
7,Action,134.279229,1405403694,141.0,7.3,United States of America
8,Adventure,98.885637,933959197,153.0,7.4,United Kingdom
9,Action,155.790452,873260194,151.0,5.7,United States of America

In [2]:
gen = shiny
coun = shiny
gen["revenue"] = gen.groupby(['genres']).revenue.transform('mean')
gen["popularity"] = gen.groupby(['genres']).popularity.transform('mean')
gen["runtime"] = gen.groupby(['genres']).runtime.transform('mean')
gen["vote_average"] = gen.groupby(['genres']).vote_average.transform('mean')
gen.head(10)

,genres,popularity,revenue,runtime,vote_average,countries
0,Action,51.771856,2.442343e+08,113.371308,6.208017,United States of America
1,Adventure,58.284160,3.209249e+08,117.281879,6.500671,United States of America
2,Action,51.771856,2.442343e+08,113.371308,6.208017,United Kingdom
3,Action,51.771856,2.442343e+08,113.371308,6.208017,United States of America
4,Action,51.771856,2.442343e+08,113.371308,6.208017,United States of America
5,Fantasy,51.552524,2.407224e+08,110.440000,6.312000,United States of America
6,Animation,49.628852,3.740684e+08,92.847458,6.416949,United States of America
7,Action,51.771856,2.442343e+08,113.371308,6.208017,United States of America
8,Adventure,58.284160,3.209249e+08,117.281879,6.500671,United Kingdom
9,Action,51.771856,2.442343e+08,113.371308,6.208017,United States of America

In [3]:
coun["revenue"] = coun.groupby(['countries']).revenue.transform('mean')
coun["popularity"] = coun.groupby(['countries']).popularity.transform('mean')
coun["runtime"] = coun.groupby(['countries']).runtime.transform('mean')
coun["vote_average"] = coun.groupby(['countries']).vote_average.transform('mean')
coun.head(10)

,genres,popularity,revenue,runtime,vote_average,countries
0,Action,36.550266,1.584353e+08,108.680530,6.313562,United States of America
1,Adventure,36.550266,1.584353e+08,108.680530,6.313562,United States of America
2,Action,38.937610,1.687388e+08,111.489385,6.386948,United Kingdom
3,Action,36.550266,1.584353e+08,108.680530,6.313562,United States of America
4,Action,36.550266,1.584353e+08,108.680530,6.313562,United States of America
5,Fantasy,36.550266,1.584353e+08,108.680530,6.313562,United States of America
6,Animation,36.550266,1.584353e+08,108.680530,6.313562,United States of America
7,Action,36.550266,1.584353e+08,108.680530,6.313562,United States of America
8,Adventure,38.937610,1.687388e+08,111.489385,6.386948,United Kingdom
9,Action,36.550266,1.584353e+08,108.680530,6.313562,United States of America

In [4]:
gen = gen.drop_duplicates(subset=['genres'], keep = "last")
coun = coun.drop_duplicates(subset=['countries'], keep = "last")

In [6]:
gen.shape

(20, 6)

In [7]:
coun.shape

(41, 6)

In [8]:
coun = coun.drop('genres', 1)
gen = gen.drop('countries', 1)
coun.to_csv("coun.csv", index=False)
gen.to_csv("gen.csv", index=False)